# Set URL for scoped packages.
@koii-network:registry=https://gitlab.com/api/v4/projects/38490933/packages/npm/

# Create an environment variable for your GitLab auth token
'//gitlab.com/api/v4/packages/npm/:_authToken'="${GITLAB_ACCESS_TOKEN}"
'//gitlab.com/api/v4/projects/38490933/packages/npm/:_authToken'="${GITLAB_ACCESS_TOKEN}"