@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/Sora-Light.ttf');
  }
  @font-face {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fonts/Sora-Medium.ttf');
  }
  @font-face {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 800;
    src: url('./assets/fonts/Sora-SemiBold.ttf');
  }

  @font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Light.ttf');
  }

  /* Scroll bar config */
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  ::-webkit-scrollbar-track {
    background: #d6d6d6;
    border-radius: 10px;
    border: 0px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(73, 206, 139);
    border-radius: 10px;
    border: 0px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #405e40;
  }
}

@layer components {
  * {
    @apply select-none;
  }

  .finnie-border-teal {
    @apply border rounded-finnie border-finnieTeal-100 shadow-md;
  }

  .finnie-border-orange {
    @apply border rounded-finnie border-finnieOrange shadow-md;
  }

  .finnie-border-blue {
    @apply border-2 border-finnieBlue;
  }

  .finnie-border-blue-thin {
    @apply border border-finnieBlue;
  }

  .finnie-border-white {
    @apply border-2 border-white;
  }
}

.main-bg {
  background-color: rgba(0, 0, 0, 0.1);
  //border: 1px solid red;
}
