@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply subpixel-antialiased;
  }
  @font-face {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/Sora-Regular.ttf');
  }
  @font-face {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fonts/Sora-Medium.ttf');
  }
  @font-face {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 800;
    src: url('./assets/fonts/Sora-SemiBold.ttf');
  }
}

@layer components {
  .finnie-border-teal {
    @apply border rounded-finnie border-finnieTeal-100;
  }

  .finnie-border-orange {
    @apply border rounded-finnie border-finnieOrange;
  }
}
