@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/Sora-Light.ttf');
  }
  @font-face {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/Sora-Medium.ttf');
  }
  @font-face {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 800;
    src: url('../assets/fonts/Sora-SemiBold.ttf');
  }

  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Light.ttf');
  }

  /* Scroll bar config */
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  ::-webkit-scrollbar-track {
    background: #d6d6d6;
    border-radius: 10px;
    border: 0px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(73, 206, 139);
    border-radius: 10px;
    border: 0px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #405e40;
  }
}

@layer components {
  * {
    @apply select-none;
  }

  .finnie-border-teal {
    @apply border rounded-finnie border-finnieTeal-100 shadow-md;
  }

  .finnie-border-orange {
    @apply border rounded-finnie border-finnieOrange shadow-md;
  }

  .finnie-border-blue {
    @apply border-2 border-finnieBlue;
  }

  .finnie-border-blue-thin {
    @apply border border-finnieBlue;
  }

  .finnie-border-white {
    @apply border-2 border-white;
  }
}

.main-bg {
  background-color: rgba(0, 0, 0, 0.1);
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.linenumber {
  color: #d6d6d6 !important;
}

.pincode-input-container {
  height: 27px !important;
}

.pincode-input-container .pincode-input-text {
  background-color: #f5f5f5 !important;
  border-radius: 50%;
  width: 28px !important;
  height: 28px !important;
  margin-right: 20px !important;
  border: 2px solid #fff !important;
  background-color: #4a4a73 !important;
  font-size: 24px !important;
}

.pincode-input-container .pincode-input-text:focus {
  outline: 2px solid #5ed9d1 !important;
}

.pincode-input-container .pincode-input-text[type='tel'] {
  padding-top: 2px !important;
}

.pincode-input-container .pincode-input-text[type='password'] {
  padding-bottom: 2px !important;
}

.pincode-input-container .pincode-input-text:not([value='']) {
  border: none !important;
  background-color: transparent !important;
}

/* Terms CheckBox */
.terms-checkbox[type='checkbox']::before,
.terms-checkbox[type='checkbox']:checked + label::before {
  content: '';
  display: block;
  position: absolute;
  height: 18px;
  width: 18px;
  top: 3px;
  background-color: #030332;
  border-radius: 1px;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.terms-checkbox[type='checkbox']:checked + label::after {
  position: absolute;
  left: 4px;
  top: 2px;
  cursor: pointer;
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="11" height="8" viewBox="0 0 11 8" fill="none"> <path d="M4.07115 7.05834C3.91837 7.05834 3.74377 6.99286 3.63464 6.88373L0.513558 3.74083C0.273475 3.50075 0.273475 3.10788 0.513558 2.8678C0.753641 2.62772 1.1465 2.62772 1.38659 2.8678L4.07115 5.59602L9.37481 0.292367C9.61489 0.052284 10.0078 0.052284 10.2478 0.292367C10.4879 0.53245 10.4879 0.925313 10.2478 1.1654L4.50767 6.88373C4.39854 6.99286 4.24576 7.05834 4.07115 7.05834Z" fill="rgb(94, 217, 209)"/></svg>');
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30%);
  }
}

.dot {
  animation: bounce 1s infinite ease-in-out;
}

.dot:nth-child(2) {
  animation-delay: -0.33s;
}

.dot:nth-child(3) {
  animation-delay: -0.66s;
}

.progress-bar {
  animation-name: progress;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
